

.button-menu-mobile .bar {
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

.button-menu-mobile.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
.button-menu-mobile.change .bar2 {
    width: 0px;
}

.button-menu-mobile.change .bar3 {
-webkit-transform: rotate(45deg) translate(-5px, -5px);
transform: rotate(45deg) translate(-8px, -8px);
}

.button-menu-mobile.change .bar {
    background-color: #bf0a0a;
}