
.menu {
    width: 100%;
    position: fixed;
    z-index:5;
    left:0;
    top: 0px;
    transition: 'background' 0.2s 0.2s;
    height: 100%;
    visibility: visible;
    background: rgba(0,0,0,.8);
}



.menu .content {
    height: 100%;
    background: #000;
    width: 90%;
    position: relative;
    left:0;
    padding: 15px 0;
    transition: 0.4s .2s;
}

.menu .content .logo {
    width: 70%;
    margin: 0 15% 20px;
}

.menu .content ul {
    margin-top: 20px;
}

.menu .content ul li {
    padding: 20px 30px;
    cursor: pointer;
    border-top: 1px solid #333;
    border-bottom: 1px solid #202020;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    position: relative;
    color: #ccc;
}
.menu a {color: #ccc;}
.menu a:hover, .menu .content ul li:hover {
    color:#ffd700
}

.menu .content ul li:first-child {
    border-top: none;
}

.menu .content ul li:last-child {
    border-bottom: none;
}

.menu .content ul li span {
    font-size: 45px;
    top: auto !important;
    right: auto !important;
    margin-left: -45px;
    background-color: #bf0a0a;
}

.menu .content ul li svg {
    margin-right: 15px;
    color:#ffd700
}

.menu.closed {
    background: rgba(0,0,0,0);
    visibility: hidden;
    transition: 'background' 0.2s;
}

.menu.closed .content {
    left: -500px;
    transition: 0.4s 0s;
}

.menu .search-box {
    width: 90%;
    margin:0 5%
}

@media (min-width: 1000px) { 
    .menu.closed {
        background: #000;
        visibility: visible;
    }
    .menu.closed .content {
        left: 0;
    }
    .menu .logo , .menu .search-box {
        display: none;
    }

    .menu {
        width: 100%;
        z-index:4;
        left:0;
        top: 73px;
        height: auto;
    }
    
    .menu .content {
        width: 100%;
        padding: 15px 0;
        transition: 0.4s .2s;
    }

    .menu .content ul {
        display: flex;
        margin-top: 0px;
        justify-content: space-around;
    }

    .menu .content ul li {
        text-align: center;
        border: none;
        padding: 0;
    }

    .menu .content ul li:first-child {
        display: none;
    }

}